.search {
    margin: 1rem;
    padding: 3rem;
}
.search-heading {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 3rem;
}
.search-property-type {
    display: flex;
    justify-content: center;
}
.search-property-location {
    display: flex;
    justify-content: center;
    /*width: auto;*/
    max-width: 584px;
    width: 584px;
    margin: 0 auto;
}

/*========================
Property Type Toggle
=========================*/
.radio-toggle {
    display: flex;
    align-items: inherit;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.04);
    position: relative;
    border: 0.5rem solid white;
    border-radius: 9999px;
    margin: 1rem auto;
    max-width: 266px;
    overflow: hidden;
    padding: 4px;
}
.radio-toggle input[type="radio"] {
    display: none;
}
.radio-toggle label {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-dark);
    cursor: pointer;
    padding: 4px 8px;
    margin: 4px;
    text-align: center;
    width: 50%;
    z-index: 2;
}
.radio-toggle .slide-item {
    background-color: white;
    opacity: 0.8;
    border-radius: 9999px;
    position: absolute;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.10);
    height: calc(100% - 10px);
    left: calc(50% + 4px);
    width: calc(50% - 8px);
    transition: left .4s;
    z-index: 0;
}
.radio-toggle input[type="radio"]:nth-of-type(1):checked ~ .slide-item {
    left: 4px;
}
.radio-toggle input[type="radio"]:nth-of-type(2):checked ~ .slide-item {
    left: calc(50% + 4px);
}
/*.radio-toggle input[type="radio"]:checked ~ label {*/
/*    color: white;*/
/*}*/



/*========================
Search Bar
=========================*/
.search-property-location .row {
    width: 100%;
}
.search-bar {
    width: 100%;
}
.search-bar input,
.search-bar button {
    border: none;
    word-wrap: break-word;
}
.search-bar button:hover {
    background-color: transparent!important;
    color: inherit;
}
.search-bar input:focus {
    outline: none;
}
.search-bar input[type="text"] {
    font-weight: 500;
    font-size: 16px;
    width: 100%;
}
.search-bar {
    display: flex;
    border: 1px solid rgba(223,225,229,0);
    padding: 0.5rem 0.3rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    margin: 0 auto;
}