/*============
Global style
============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root{
  --color-font-dark: #3c4250;
  --container-px: 2rem;
  --header-mb: 3rem;
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
  --color-dark: #4298e7;
  --color-light: #e4f2ff;
  --color-mid: #7dbfff;
}
html{
  height: 100%;
}
body{
  color: var(--color-font-dark);
  font-family: "Poppins", sans-serif;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.container {
  max-width: 1320px;
  display: block;
}